.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
}

.headerBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 16px;
  height: 56px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  .backButton {
    cursor: pointer;
    margin-right: 12px;
    color: #666;
    font-size: 16px;
  }

  .doctorInfo {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .avatar {
    --size: 38px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }

  .info {
    .name {
      font-size: 14px;
      font-weight: 500;
      color: var(--adm-color-text);
    }

    .style {
      margin-top: 1px;
      font-size: 10px;
      color: #fff;
      padding: 2px 4px;
      border-radius: 4px;
    }
  }

  .moreButton {
    cursor: pointer;
    color: #666;
    font-size: 20px;
  }
}

.messageList {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 56px 16px 80px;
  overflow-y: auto;
}


.loadingMessage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typingIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  gap: 4px;


  span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: currentColor;
    opacity: 0.6;
    animation: loading 1.4s infinite ease-in-out both;

    &:nth-child(1) {
      animation-delay: -0.32s;
    }

    &:nth-child(2) {
      animation-delay: -0.16s;
    }
  }
}


@keyframes loading {

  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1.0);
  }
}

.inputArea {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 500px;
  margin: 0 auto;
  padding: 12px 14px;
  background-color: #fff;
  border-top: 1px solid #eee;

  .actionButton {
    -webkit-appearance: none;
    appearance: none;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--adm-color-text-secondary);
    font-size: 16px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s;

    &:hover {
      background-color: #e5e5e5;
    }
  }

  // .fileButton {

  // }

  // .micButton {

  // }

  .micButton {

    &.recording {
      font-size: 12px;
      color: #ff4d4f;
      background-color: #ffd7c7;
      animation: flash 0.5s infinite alternate;

      &:hover {
        background-color: #ffd7c7;
      }

      // .micButtonIcon {
      // animation: pulse 1.2s infinite;
      // }

    }
  }

  @keyframes flash {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0.7;
    }

  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  .inputer {
    flex: 1;
    height: 34px;
    padding: 0 14px;
    --font-size: 14px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 10px;
  }

  .sendButton {
    background-color: unset;
    color: var(--adm-color-primary) !important;
    font-size: 18px;

    &:hover {
      color: #ce83f7 !important;
      background-color: unset;
    }

    &[disabled] {
      opacity: 0.7;
    }
  }
}